<%- include layouts/admin_header.ejs %>
<h1 class="page-header">Eventos<div class="btn btn-group pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#create_evnt">+ Nuevo</a><a
            class="btn btn-info" onclick="reset()" data-toggle="modal" href="#modalcsv">Generar csv</a></div></h1>
<div class="btn-group" id="info">
    <a href="/evnt_list/all" class="btn btn-primary">Todos</a>
    <a href="/evnt_list/new" class="btn btn-primary">Sin iniciar</a>
    <a href="/evnt_list/fin" class="btn btn-primary">Finalizados</a>
</div>
<div class="table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Duración</th>
            <th>Estado</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% if(data.length){
            for(var i = 0;i<data.length;i++){
            switch(data[i].estado){
                case "new":
                    data[i].estado = "Programado";
                    break;
                case "inprog":
                    data[i].estado = "En Progreso";
                    break;
                case "fin":
                    data[i].estado = "Finalizado";
                    break;
                default:
                    data[i].estado = "Nuevo";
                    break;
            }%>
        <tr>
            <td><%= data[i].nom%></td>
            <td><%= data[i].tipo%></td>
            <td><%= new Date(data[i].fecha).toLocaleString()%></td>
            <td><%= data[i].duration%></td>
            <td><%= data[i].estado%></td>
            <% if(data[i].estado != "Finalizado"){%>
            <td class="btn-group"><a class="btn btn-warning">Editar</a><a class="btn btn-danger" href="/evnt_delete/<%= data[i].idevento%>">Eliminar</a></td>
            <%} else {%>
            <td>Asistentes: <%=data[i].asistentes%></td>
            <%}%>
        </tr>
        <tr id="<%=data[i].idevento%>" class="collapse">
            
        </tr>
        <%  }
        } else {%>
        <tr>
            <td>No hay Eventos creados</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>
<div class="modal fade" id="create_evnt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/evnt_save" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear Evento</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="nom" class="form-control">
                    <label>Tipo</label>
                    <input type="text" name="tipo" class="form-control">
                    <label>Fecha</label>
                    <input type="datetime-local" name="fecha" class="form-control">
                    <label>Duración (Minutos)</label>
                    <input type="number" name="duration" class="form-control">
                    <label>Observaciones</label>
                    <textarea name="obs" class="form-control"></textarea>
                    <input type="hidden" name="estado" value="new">
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-info">Crear</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalcsv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear Csv</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Desde:</label>
                    <input type="date" id="desde" class="form-control">
                    <label>Hasta:</label>
                    <input type="date" id="hasta" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-info getcsvof" id="crear">Crear</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'POST',
            data: {desde : $("#desde").val(),hasta: $("#hasta").val()},
            url: '/evnt_csv',
            success: function(data) {
                yo.attr("href",data);
                yo.attr("download","Eventos Desde ~ " + $("#desde").val() + ".csv");
                yo.removeClass("btn-info");
                yo.removeClass("getcsvof");
                yo.addClass("btn-success");
                yo.html("<i class='fa fa-download'></i> Descargar csv");
            }
        });
    });
    function reset(){
        var yo = $("#crear");
        $("#desde").val("");
        $("#hasta").val("");
        yo.attr("href",'#');
        yo.removeAttr("download");
        yo.removeClass("btn-success");
        yo.addClass("btn-info");
        yo.addClass("getcsvof");
        yo.html("Crear");
    }


</script>
<%- include layouts/footer.ejs %>