<%- include layouts/user_header.ejs %>
<h1 class="page-header">Eventos</h1>
<div class="table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Duración</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% if(data.length){
            for(var i = 0;i<data.length;i++){
                if(new Date(data[i].fecha).toLocaleDateString() == new Date().toLocaleDateString()){%>
        <tr>
            <td><%= data[i].nom%></td>
            <td><%= data[i].tipo%></td>
            <td><%= new Date(data[i].fecha).toLocaleString()%></td>
            <td><%= data[i].duration%></td>
            <td class="btn-group"><a class="btn btn-primary" href="/evnt_start/<%= data[i].idevento%>">Comenzar</a></td>
        </tr>
        <%      }
            }
        } else {%>
        <tr>
            <td>No hay Eventos par hoy</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>
<script>
        function check() {
            if(document.getElementsByName("hasta")[0].value == "no"){
                document.getElementsByName("end")[0].disabled = false;
                document.getElementsByName("hasta")[0].value = "si";
            } else {
                document.getElementsByName("end")[0].disabled = true;
                document.getElementsByName("hasta")[0].value = "no";
            }
        }
    </script>
    <script>
        function getjumps() {

            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {
                // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText == "1") {
                        document.getElementById("success").innerHTML = "<div class='alert alert-success'><strong>Exito!</strong> Se genero el csv en el escritorio.</div>";
                        $("#success").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success").slideUp(500);
                        });
                    }
                }
            };
            xmlhttp.open("GET", "/g_csv_j", true);
            xmlhttp.send();
        }
    </script>
<%- include layouts/footer.ejs %>