<%- include layouts/user_header.ejs %>
<h1 class="page-header">Eventos</h1>
<div class="table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Duración</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% if(data.length){
            for(var i = 0;i<data.length;i++){
                if(new Date(data[i].fecha).toLocaleDateString() == new Date().toLocaleDateString()){%>
        <tr>
            <td><%= data[i].nom%></td>
            <td><%= data[i].tipo%></td>
            <td><%= new Date(data[i].fecha).toLocaleString()%></td>
            <td><%= data[i].duration%></td>
            <td class="btn-group"><a class="btn btn-primary" href="/evnt_start/<%= data[i].idevento%>">Comenzar</a></td>
        </tr>
        <%      }
            }
        } else {%>
        <tr>
            <td>No hay Eventos para hoy</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>

<%- include layouts/footer.ejs %>