<%- include layouts/user_header.ejs %>
    <h2 class="page-header">Jumpers</h2>
    <div class="row placeholder">
        <div class="col-sm-6 col-xs-12">
            <form action="/list" method="POST">
                <input type="text" class="form-control" name="verif" placeholder="Correo">
                <button type="submit" name="tipo" value="verif" class="btn btn-primary">Buscar por correo</button>
            </form>
        </div>
        <div class="col-sm-6 col-xs-12">
            <form action="/list" method="POST">
                <input type="text" class="form-control" name="nom" placeholder="Nombre ">
                <input type="text" class="form-control" name="ape" placeholder="Apellido">
                <div class="btn-group" role="group">
                    <button type="submit" name="tipo" value="nom" class="btn btn-primary">Por nombre</button>
                    <button type="submit" name="tipo" value="ape" class="btn btn-primary">Por apellido</button>
                    <button type="submit" name="tipo" value="nom-ape" class="btn btn-primary">Por ambos</button>
                </div>
            </form>
        </div>
    </div>
<form action="/jumper/add2session" method="post">
    <div class="table-responsive">
        <table class="table table-striped"  >
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Verificador</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <%
            if(data.length){
                var nac, sec_left, years;
                var ahora = new Date().getTime();
                for(var i = 0;i < data.length; i++){
                    nac = new Date(data[i].fnac).getTime();
                    sec_left = (ahora - nac) / 1000;
                    years = parseInt(sec_left / 31536000); %>
            <tr>
                <td><%= data[i].name%></td>
                <td><%= data[i].last_name%></td>
                <td><%= years%></td>
                <td><%= data[i].correo%></td>
                <td>
                    <input  onclick="enable()" name ='ids' type='checkbox' value=<%= data[i].id%> >
                </td>
            </tr>
            <%
            }
            } else{%>
            <tr><td>No se encontraron Jumpers</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
            <%

            }
            %>
            </tbody>
        </table>

    </div>
    <div class="col-md-5 col-md-offset-7">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" name="continue" value="0" id="add" disabled>
                + Añadir a Venta
            </button>
            <button type="submit" class="btn btn-primary" name="continue" value="1" id="continue" disabled>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Añadir y continuar venta
            </button>
        </div>
    </div>
</form>
    <h3 class="sub-header">Venta actual</h3>
<div class="table-responsive">
    <table class="table table-striped"  >
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        </thead>
        <tbody>

        <%
        if(data2.length){
        for(var i = 0;i < data2.length; i++){ %>
        <tr>
            <td><%= data2[i][1]%></td>
            <td><%= data2[i][2]%></td>
        </tr>
        <%
        }
        } else{%>
        <tr><td>La venta está vacía</td><td>-</td><td>-</td></tr>
        <%

        }
        %>
        </tbody>
    </table>

</div>
<%- include layouts/footer.ejs %>