<%- include layouts/vip_header.ejs %>
<section id="header">
    <form action="/vip/check" method="post">
        <input type="text" class="invis" name="idvisita" id="ids">
    </form>
    <div class="container">
        <div class='banner text-center'>
            <h1 class="section-title wow fadeInDown animated"><span>Tiempos</span></h1>
            <div class="col-sm-6 col-md-10 col-md-offset-1">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Tiempo Cumplido
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tiempo Restante</th>
                        </tr>
                        </thead>
                        <tbody>

                        <%
                        if(ends.length){
                        for(var i = 0;i < ends.length; i++){
                        %>
                        <tr>
                            <td><%= ends[i].id%></td>
                            <td><%= ends[i].name%></td>
                            <td><%= ends[i].last_name%></td>
                            <td><div class="text-danger">TIEMPO CUMPLIDO</div></td>
                        </tr>

                        <%
                            }
                        } else{%>
                        <tr><td>-</td><td>-</td><td>-</td></tr>
                        <%
                        }
                        %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5 col-md-10 col-md-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        En Curso
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tiempo Restante</th>
                        </tr>
                        </thead>
                        <tbody>

                        <%
                        if(data.length){
                            for(var k = 0;k < data.length; k++){
                            %>
                            <tr>
                                <td><%= data[k].id%></td>
                                <td><%= data[k].name%></td>
                                <td><%= data[k].last_name%></td>

                                <td><div id="<%= data[k].id%>"></div></td>
                            </tr>

                            <%
                            }
                        } else{%>
                            <tr><td>No hay Jumpers asociados a esta venta</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">

    </div>
    <script type="text/javascript">
        // set the date we're counting down to
        var days, hours, minutes, seconds;



            // update the tag with id "countdown" every 1 second
        setInterval(function () {

            <%for(var j = 0; j < data.length;j++) {
                if(!data[j].ended){
            %>
            var target_date = new Date('<%= data[j].date_f %>').getTime();
            // get tag element
            var countdown = document.getElementById('<%= data[j].id %>');
            // find the amount of "seconds" between now and target
            var current_date = new Date().getTime();
            var seconds_left = (target_date - current_date) / 1000;
             if (seconds_left <= 0){
                 window.location.href = "/vip/end/<%= data[j].id %>"
             }

            // do some time calculations
            days = parseInt(seconds_left / 86400);
            seconds_left = seconds_left % 86400;

            hours = parseInt(seconds_left / 3600);
            seconds_left = seconds_left % 3600;

            minutes = parseInt(seconds_left / 60);
            seconds = parseInt(seconds_left % 60);

            if(hours > 0){
                // format countdown string + set tag value
                countdown.innerHTML = '<span class="hours">' + hours +  ' <b>Hrs</b></span> <span class="minutes">'
                    + minutes + ' <b>Min</b></span> <span class="seconds">' + seconds + ' <b>s</b></span>';
            } else {
                countdown.innerHTML = '<span class="minutes">'
                    + minutes + ' <b>Min</b></span> <span class="seconds">' + seconds + ' <b>s</b></span>';

            }
            <% } } %>
        }, 1000);

    </script>
</section>



        
<%- include layouts/vip_footer.ejs %>