<%- include layouts/user_header.ejs %>
        <h1 class="text-center" id="tit"></h1>
        <div class="col-sm-5 col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    En Curso
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fin de visita</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody >
                    <%
                    var num = data.length;
                    if(data.length){
                        var hora;
                    for(var k = 0;k < data.length; k++){
                        hora = new Date(data[k].date_f).toLocaleTimeString();
                    %>
                    <tr>
                        <td><%= data[k].id%></td>
                        <td><%= data[k].name%></td>
                        <td><%= data[k].last_name%></td>

                        <td><%= hora%></td>
                        <% if(!data[k].ended){%>
                        <td><a class="modif btn btn-info" data-toggle="modal" data-id="<%=data[k].id%>" data-time="<%=hora%>" data-target="#extend"> + <span class="glyphicon glyphicon-time"  aria-hidden="true"></span></a> </td>
                        <%} else {
                            num += data[k].ended - 1%>
                        <td class="btn-group"><a href="#<%= data[k].id%>" class="btn btn-info" data-toggle="collapse">+ <span class="glyphicon glyphicon-user"></span></a><a
                                    onclick="set(this)" href="#obsevnt" data-idevento="<%=data[k].id%>" data-toggle="modal" class="btn btn-default">+ <span class="glyphicon glyphicon-comment"></span></a></td>
                       <%}%>
                        <td><a href="/sudo_del/<%= data[k].id%>" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

                    </tr>
                    <% if(data[k].ended){%>
                    <tr id="<%= data[k].id%>" class="primary collapse">
                        <form action="/setended" method="post">
                            <td></td>
                            <td>Número de asistentes:</td>
                            <td><input type="number" min="1" class="form-control" style="width: inherit" name="newnum" value="<%= data[k].ended%>"></td>
                            <td><button type="submit" class="btn btn-primary" name="id" value="<%= data[k].id%>">Guardar</button></td>
                            <td></td>
                            <td></td>
                        </form>
                    </tr>
                    <%}%>
                    <%
                    }
                    } else{%>
                    <tr><td>No hay Jumpers dentro.</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
<script src="/socket.io/socket.io.js"></script>
<script>
    $("#tit").html("Personas dentro: <%= num%>");
    var socket = io();
    socket.emit('actualizar');
    socket.on('ajax',function(){
        console.log("much connected");
    });
    function set(e){
        $("#id_modal").val($(e).data('idevento'));
    }
</script>
<div class="modal fade" id="obsevnt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/obs_add" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Añadir Observación</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Observaciones</label>
                        <textarea name="obs" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-success" name="idevento" id="id_modal" type="submit">Añadir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<%- include layouts/footer.ejs %>