<%- include layouts/user_header.ejs %>
        <h1 class="text-center"> Personas dentro: <%= data.length%></h1>
        <div class="col-sm-5 col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    En Curso
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fin de visita</th>
                    </tr>
                    </thead>
                    <tbody>

                    <%
                    if(data.length){
                        var hora;
                    for(var k = 0;k < data.length; k++){
                        hora = new Date(data[k].date_f).toLocaleTimeString();
                    %>
                    <tr>
                        <td><%= data[k].id%></td>
                        <td><%= data[k].name%></td>
                        <td><%= data[k].last_name%></td>
                        <td><%= hora%></td>
                        <td><a class="modif btn btn-info" data-toggle="modal" data-id="<%=data[k].id%>" data-time="<%=hora%>" data-target="#extend">Modficar</a> </td>
                        <td><a href="/sudo_del/<%= data[k].id%>" class="btn btn-danger">- Quitar</a></td>

                    </tr>

                    <%
                    }
                    } else{%>
                    <tr><td>No hay Jumpers asociados a esta venta</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>


        
<%- include layouts/footer.ejs %>